<body style="background-color:#F0FFFF;">
      <title>My First Project</title>
      <h1 style="color:#29a329;text-align:center;">Welcome to Compute Page!</h1>
      <p style="text-align:center;" face="Verdana">
      There is {{result}} {{message}}<br>
      </p>
      <p style="text-align:center;">This compute method computes that how many elements in list are greater than a specific number.<br></p>

      <form style="text-align: center;" action="compute" method="post">
            <p style="text-align:center;">Enter a set of numbers as one number per line:<br></p>
            <textarea name="input1" rows="10" cols="30"></textarea>
            <br>
            <p style="text-align:center;">Enter a number:<br></p>
            <p size="2" style="text-align:center;">This number is used as a specific number.<br></p>
            <textarea name="input2" rows="3" cols="30"></textarea>
            <br>
            <br>
            <input type="submit" value="Compute">
      </form>

      <form style="text-align: center;" action="/">
            <button type="submit">Home Page</button>
      </form>

</body>