<body style="background-color:#F0FFFF;">
      <title>My First Project</title>
      <h1 style="color:blue;text-align:center;">Welcome!</h1>
      <p style="text-align:center;">There is {{result}} {{message}} <br></p>

      <form style="text-align: center;" action="compute" method="post">
            <p style="text-align:center;">Enter a set of numbers:<br></p>
            <textarea name="input1" rows="10" cols="30"></textarea>
            <br>
            <p style="text-align:center;">Enter a number:<br></p>
            <textarea name="input2" rows="10" cols="30"></textarea>
            <br>
            <input type="submit" value="Compute">
      </form>

      <form style="text-align: center;" action="/">
            <button type="submit">Home Page</button>
      </form>

</body>